# OpenAI
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxx

# X API
X_API_KEY=xxxxxxxxxxxxxxxx
X_API_SECRET=xxxxxxxxxxxxxxxx

X_ACCESS_TOKEN=xxxxxxxxxxxxxxxx
X_ACCESS_TOKEN_SECRET=xxxxxxxxxxxxxxxx

# X User IDÅiîCà”Åj
X_USER_ID=
